package views

import (
	"github.com/pecet3/my-api/data"
	"github.com/pecet3/my-api/views/components"
)

templ PanelPage(products []data.Product, prices []data.Price) {
	@LayoutPanel() {
		<div class="flex flex-col">
			@components.AddProductForm()
			@components.PricesForm(prices)
			@components.ProductsDisplay(products)
		</div>
		<div class="flex flex-col">
			products
		</div>
	}
}
