package components

import "github.com/pecet3/my-api/data"

templ ProductsDisplay(products []data.Product) {
	<div>
		for _, p := range products {
			<div>{ p.Name }</div>
			<div>{ p.Description }</div>
			<img src={ p.ImageURL } alt="photo artykulu"/>
		}
	</div>
}
