package views

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://cdn.tailwindcss.com"></script>
			<title>J U I C E</title>
		</head>
		<body class="px-64 flex flex-col items-center justify-center bg-gray-300">
			{ children... }
		</body>
	</html>
}
