package components

import (
	"github.com/pecet3/my-api/data"
	"strconv"
)

templ ProductsDisplay(products []data.Product) {
	<ul class="">
		for _, p := range products {
			<li>
				<p>{ strconv.Itoa(p.Id) }</p>
				<div>{ p.Name }</div>
				<div>{ p.Description }</div>
				<img src={ p.ImageURL } alt="photo artykulu"/>
			</li>
		}
	</ul>
}
