@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url("assets/background.jpg");
  background-position: center; /* Ustawienie pozycji tła na środek */
  background-size: cover; /* Tło rozciąga się na całą powierzchnię */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
overflow: hidden;
}

@font-face {
  font-family: 'Help Me';
  src: url('fonts/HelpMe.ttf') format('truetype');
}

.step-title {
  font-family: 'Help Me', sans-serif;
}

/* Custom scrollbar styles */
.custom-scrollbar {
  padding-right: 10px; /* Dodaj padding po prawej stronie */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 14px; /* Zwiększ szerokość scrollbar'a */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #310577a2; /* Kolor thumb'a */
  border-radius: 10px;
  border: 2px solid #fff; /* Dodaj border, by scroll był lepiej widoczny */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Styl dla kontenera, aby zajął 100% wysokości */
.container {
  height: 100vh; /* Gwarantuje, że kontener zajmuje 100% wysokości */
}
